body {
  background: rgb(168, 178, 179);
  color: rgb(46, 45, 45);
  padding: 10px;
  font-family: arial;
  font-family: Sans-serif;
   

}
body{
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4cb92a2a-7cff-463d-9e2c-56f5bde85b46/dfe9zls-756bedd4-d499-4fdd-80b5-c41bf65a8a40.png/v1/fill/w_1600,h_900,q_80,strp/this_is_cartoon_network__2022___30th_anniversary__by_nemalki_dfe9zls-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvNGNiOTJhMmEtN2NmZi00NjNkLTllMmMtNTZmNWJkZTg1YjQ2XC9kZmU5emxzLTc1NmJlZGQ0LWQ0OTktNGZkZC04MGI1LWM0MWJmNjVhOGE0MC5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.3ZfcNW3ikB1yvP7M0oeHfHBJg4yaeE2aSMlVyWJ_LRU);
}
#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(44, 32, 123);
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
}
h1 {
  display: flex;
  align-items: center;
  color: white;
  color: rgb(235, 200, 200);
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #040404;
}

/* main container area beneath menu */
main {
  background: rgba(229, 207, 63, 0.677);
  display: flex;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.sidebar-img {
  width: 200px;
}
.content {
  flex: 1;
  padding: 15px;
}

/* portfolio styles */
#interests {
 
  padding: 8px;
}
#borderimg3 {
  border: 4px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30% round;
}
h2,
h3 {
  margin: 0px;
}
/* portfolio styles */
.content h1 {
  color: rgb(0, 0, 0);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #252222;
}

/* portfolio styles */
.content h1 {
  color: black;
  color: rgb(138, 126, 126);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #1e273c;
}



#portfolio a {
  text-decoration: none;
  color: #000000;
}
/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}
