body {
  margin: 0px;
}
canvas {
  background-image: url('https://www.textures4photoshop.com/tex/thumbs/checkered-room-background-thumb25.jpg')
}

canvas {
  background-color: rgb(255, 255, 255);
}

img {
  display: none;
}
